*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #f1f5f8;
}

.conteiner{
  padding: 60px;
}

.flex{
  display: flex;
  gap: 10px;
}